/* ChannelInfo.css */

.new-description-textarea {
    /* max-width: 500px; */
    background-color: #f4f1f7;
    resize: none;
    padding-bottom: 20px;
    width: 100%;
}

.new-description-div {
    position: relative;
    display: inline-block;
    width: 100%;
}

.new-description-counter {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #666;
    padding: 2px 5px;
}