/* Home.css */

.home-video-thumbnail {
    max-width: 560px;
    max-height: 315px;
    width: 100%;
    height: auto;
}

.home-video-title {
    font-weight: bold;
}

.home-video-title a {
    text-decoration: none;
    color: black;
}

.home-video-author {
    font-size: 15px;
}

.home-video-author a {
    text-decoration: none;
    color: black;
}

.home-video-details {
    font-size: 15px;
}

.home-video-thumbnail-container {
    position: relative;
    display: inline-block;
}

.home-video-thumbnail-duration {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 3px 6px;
    font-size: 13px;
}