/* Video.css */

h1 {
    font-weight: bold;
    font-size: 22px;
}

video {
    width: 854px;
    height: 480px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 17px;
    font-weight: bold;
}

.thumbnail {
    max-width: 600px;
    max-height: 315px;
    width: 100%;
    height: auto;
}

.title {
    font-weight: bold;
    font-size: 14px;
}

.author {
    font-size: 13px;
}

.details {
    font-size: 13px;
}

.thumbnail-container {
    position: relative;
    display: inline-block;
}

.thumbnail-duration {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 5px;
    font-size: 13px;
}
