/* Sidebar.css */

.sidebar {
    left: 0;
    height: 100%;
    position: fixed;
    width: 100%;
    max-width: 200px;
    background-color: white;
}

.sidebar a {
    color: black;
    text-decoration: none;
}

.sidebar .brand {
    font-size: 1.25rem;
    padding-top: 0.3125rem;
}

.offcanvas {
    width: 100%;
    max-width: 300px;
}

.navbar-toggler-left {
    position: absolute;
    top: 0;
    transform: translateY(25%);
}

.navbar-brand {
    margin-left: 2.5rem;
}

/* @media(max-width: 991px) {
    .navbar-toggler-left {
        position: absolute;
        top: 0;
        transform: translateY(25%);
    }

    .navbar-brand {
        margin-left: 2.5rem;
    }
} */